:root {
    --color-primario: #4F6F52;
    --color-secundario: #739072;
    --color-terciario: #86A789;
    --color-cuaternario: #D2E3C8;
    --color-texto: #212121;
}

/* CONFIGURACION MODO OSCURO */
.claro {
    background-color: var(--color-cuaternario);
    color: black;
}
.oscuro {
    background-color: var(--color-secundario);
    color: yellow;
}

/* CONFIGURACION LOGO */
#logoHC {
    width: 140px;
    height: 140px;
    filter: invert(100%);
    border-radius: 50%;
    object-fit: contain;
    box-sizing: border-box;
    padding: 10px;
}
/* CONFIGURACION DROPDOWN */
.dropdown-herramientasdecultivo, .a-posts {
    padding: 0px 15px !important;
    color: var(--color-cuaternario) !important;
    font-size: 30px !important;
    font-weight: 500 !important;
}
.dropdown-content {
    background-color: white;
    padding: 0px px;
}
.dropdown-item {
    background-color: var(--color-texto);
    color: white;
}
/* CONFIGURACION BOTON OSCUROCLARO */
#modoOscuroClaro {
    padding: 5px 10px 5px 10px;
    border: 5px solid var(--color-terciario);
    border-radius: 30px;
    color: black;
    font-style: italic;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.bienvenida {
    color: #303030 !important;
    background-color: var(--color-terciario);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
.bienvenida-2 {
    color: var(--color-texto);
    padding: 30px 100px;
    font-size: 20px;
}
.imagen-index {
    display: flex;
    padding: 10px 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
output {
    border-radius: 10px !important;
    border: 2px solid rgb(224, 224, 17) !important;
    padding: 10px !important;
}
.container-calculadoraFertilizantes, .container-vpd, .container-dli, .container-ppfd{
    font-size: 20px;
    font-weight: 500;
}
.navbar-configuracion {
    background-color: var(--color-primario) !important
}
.card-img-top{
    width: 240px;
    height: 240px;
}
.form-vpd, .form-calculadoraFertilizantes, .form-dli, .form-ppfd{
    padding: 30px;
    border: 10px groove var(--color-primario);
    border-radius: 5%;
}
.container-vpd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    transition: all 0.4s ease;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 15px 2px #39FF14;
}